<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>

  <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <link rel="stylesheet" href="{% static 'css/header.css'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/stylehome.css'%}">
</head>
<body>

{% include "include/header.html" %}

<div class="wrapper">
  <div class="description_main">
    <h1>Личный кабинет</h1>
    <p>Это Ваш личный кабинет. </p>
    <p>В личном кабинете Вы можете видеть информацию о себе и о Ваших списках групп, редактировать их и удалять.
    </p>
  </div>
  <main>

    <div class="personal_information">

      <img src="{% static 'images/placeholder-man.png'%}" alt="" class="account_img">

      <div class="information">
        <p>ФИО</p>
        <hr>
        <p>Организация</p>
        <p>Предмет</p>
        <p>Правила выставления оценок</p>
      </div>

    </div>

    <div class="groups">
      <div class="group_title">
        <div class="list_of_groups">
          <h4>Список групп</h4>
          <a href="#" class="groups_button"><img src="{% static 'images/plusimage.png'%}" alt="" id="plus"></a>
        </div>
        <a href="#" hidden>Расписание</a>
      </div>

      <div class="group">
        <div>Группа</div>
        <div>Предметы</div>
        <div>Кол-во чел</div>
        <div>Отн усп</div>
        <div>Абс усп</div>
      </div>

      <div class="group">
        <div>Группа</div>
        <div>Предметы</div>
        <div>Кол-во чел</div>
        <div>Отн усп</div>
        <div>Абс усп</div>
      </div>

    </div>

  </main>

  <footer>
    footer
  </footer>

</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
</html>
