<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="stylehome.css">
</head>
<body>
<header>
  <div class="logo">
    <a href="index.html"><img src="logo.png" id="logo" alt=""></a>
  </div>
  <div class="abutt">
    <a href="#">Статистика</a>
    <a href="#">Группы</a>
    <a href="#">Тесты</a>
    <a href="#">Ответы</a>
  </div>
  <div class="ava">
      {% if user.is_authenticated %}
        <a href="{% url 'account_logout'%}">Выход
          <img src="{% static 'images/placeholder-man.png'%}" alt="" id="ava">
        </a>
      {% else %}
      <a href="{% url 'account_login'%}">Вход</a>
      {% endif%}
  </div>
</header>
<div class="wrapper">
  <div class="description_main">
    <h1>Личный кабинет</h1>
    <p>Это Ваш личный кабинет. </p>
    <p>В личном кабинете Вы можете видеть информацию о себе и о Ваших списках групп, редактировать их и удалять.
    </p>
  </div>
  <main>

    <div class="personal_information">

      <img src="{% static 'images/placeholder-man.png'%}" alt="" class="account_img">

      <div class="information">
        <p>ФИО</p>
        <hr>
        <p>Организация</p>
        <p>Предмет</p>
        <p>Правила выставления оценок</p>
      </div>

    </div>

    <div class="groups">
      <div class="group_title">
        <div class="list_of_groups">
          <h4>Список групп</h4>
          <a href="#" class="groups_button"><img src="{% static 'images/plusimage.png'%}" alt="" id="plus"></a>
        </div>
        <a href="#" hidden>Расписание</a>
      </div>

      <div class="group">
        <div>Группа</div>
        <div>Предметы</div>
        <div>Кол-во чел</div>
        <div>Отн усп</div>
        <div>Абс усп</div>
      </div>

      <div class="group">
        <div>Группа</div>
        <div>Предметы</div>
        <div>Кол-во чел</div>
        <div>Отн усп</div>
        <div>Абс усп</div>
      </div>

    </div>

  </main>

  <footer>
    footer
  </footer>

</div>

</body>
</html>
