<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Загруженные ответы</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="stylegroups.css">
</head>
<body>

{% include "include/header.html" %}

<div class="wrapper">
  <div class="description_main">
    <h1>Загруженные ответы</h1>
    <div class="functional">
      <button class="filter">Сохранить</button>
      <div  class="search">

        <form>
          <input type="text" placeholder="Искать здесь...">
          <button type="submit"></button>
        </form>

      </div>

    </div>

  </div>
  <main>
    <div class="groups">

      <div class="group" id="active_green">
        Распознано
      </div>
      <div class="active_group">
        <div class="photo_answers">
          <div class="photo_div">
            <img src="test.jpg" class="photo">
          </div>

          <table>
            <tr>
              <th>Распознано</th>
              <th>Ученик</th>
            </tr>
            <tr>
              <td>Sbrodov</td>
              <td>Sbrodov</td>
            </tr>
            <tr>
              <td>Stanislav</td>
              <td>Stanislav</td>
            </tr>
          </table>

          <table class="test_answers">
            <tr>
              <th>Вопрос</th>
              <th>Ответ</th>
            </tr>
            <tr>
              <td>1</td>
              <td>B</td>
            </tr>
            <tr>
              <td>2</td>
              <td>A</td>
            </tr>
            <tr>
              <td>3</td>
              <td>D</td>
            </tr>
          </table>
        </div>

      </div>

    </div>
  </main>
  <footer>
    footer
  </footer>
</div>
</body>
</html>
