<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Educastick</title>
  {% include "include/links.html" %}
  <link rel="stylesheet" href="{% static 'css/styleindex.css'%}">

</head>
<body>

{% include "include/header.html" %}

<div class="wrapper">
  <div class="description_main">
    <h1>Educastick - это</h1>
    <p>Информационная система, которая позволит загружать фотографии с рукописным ответом и последующим преобразованием в печатный вариант и проверкой, просмотр прогресса и проблемных мест обучающегося и группы в целом для улучшения успеваемости и более эффективной работы
    </p>
    <p>Страницы сайта:</p>
    <ol>
      <li>Страница статистики;</li>
      <li>Страница групп;</li>
      <li>Страница тестов;</li>
      <li>Страница ответов.</li>
    </ol>

  </div>
  <main>

    <div class="description">

      <div class="description_block">

        <div class="description_image">
            <img src="{% static 'images/logo.png'%}" alt="">
        </div>

        <div class="description_text">
          <h1>Статистика</h1>
          <p>
            На странице статистики у Вас есть возможность просматривать динамику правильности ответов группы,
            теста или успеваемость конкретного ученика. Подобные данные позволят Вам увидеть какая тема или вопрос
            вызывает наибольшие затруднения и скорректировать план работы.
          </p>
        </div>

      </div>

    </div>

    <div class="description">

      <div class="description_block">

      <div class="description_image">
          <img src="{% static 'images/logo.png'%}" alt="">
      </div>

      <div class="description_text">
        <h1>Группы</h1>
        <p>
          На странице групп Вы можете просматривать списки групп, вносить в них изменения,
          а также добавлять новые и удалять уже существующие.
        </p>
      </div>

      </div>

    </div>

    <div class="description">

      <div class="description_block">

        <div class="description_image">
            <img src="{% static 'images/logo.png'%}" alt="">
        </div>

        <div class="description_text">
          <h1>Тесты</h1>
          <p>
            На странице тестов Вы можете просматривать Ваши тесты, вносить в них изменения,
            а также добавлять новые и удалять уже существующие.
          </p>
        </div>

      </div>

    </div>

    <div class="description">

      <div class="description_block">

        <div class="description_image">
          <img src="{% static 'images/logo.png'%}" alt="">
        </div>

        <div class="description_text">
          <h1>Ответы</h1>
          <p>
            На странице ответов Вы можете просматривать ответы учеников, вносить в них изменения и удалять уже существующие.
          </p>
        </div>

      </div>

    </div>

  </main>
  {% include "include/footer.html" %}
</div>
</body>
</html>
