<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Educastic</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="stylegroups.css">
  <link rel="stylesheet" href="styleindex.css">
</head>
<body>
<header>
  <div class="logo">
    <a href="index.html"><img src="logo.png" id="logo" alt=""></a>
  </div>
  <div class="abutt">
    <a href="#">Статистика</a>
    <a href="#">Группы</a>
    <a href="#">Тесты</a>
    <a href="#">Ответы</a>
  </div>
  <div class="ava">
    <img src="placeholder-man.png" alt="" id="ava">
  </div>
</header>
<div class="wrapper">
  <div class="description_main">
    <h1>Educastick</h1>
    <p>Описание описание описание описание описание описание описание описание описание описание пива имва лоав итадвдав
      идлавто длавт идлавт идвалодлв длваьир давлои зэрвэр.овржилвро ржпвад ьыжпрщл жпаыь ржпр ыжпдр юпбиь ыэро зыжро щваы
      ароэы пажлы во эрдлы длрь дыавльп дл оыэадвлпр дывлр ывоо рваылр жывлдр овыьит ыдвоарт жаывшрп адывлр жыдвало
      жыдвларо жвыдлтпр шщавдыо длатр жыщ арывждаывор ываро жывдлоп жщавышп ывоимт жыщшвоп жэыщап длавп щжывао птажпы
      овжзщп ывжтп жвдшаоыпр ывдалп выдап жваышоп вжаыдпло авьж овапит жваыв лпо ыавптж лтим вадлпо ыжвтапжд оподпоы адлпо
      ажвыпо жщшоы алдпо ыдло.
    </p>
  </div>
  <main>

    <div class="description">

      <div class="description_block">

        <div class="description_image">
            <img src="logo.png" alt="">
        </div>

        <div class="description_text">
          <h1>Статистика</h1>
          <p>
            Описание описание описание описание описание описание описание описание описание описание пива имва лоав итадвдав
            идлавто длавт идлавт идвалодлв длваьир давлои зэрвэр.овржилвро ржпвад ьыжпрщл жпаыь ржпр ыжпдр юпбиь ыэро зыжро щваы
            ароэы пажлы во эрдлы длрь дыавльп дл оыэадвлпр дывлр ывоо рваылр жывлдр овыьит ыдвоарт жаывшрп адывлр жыдвало
            жыдвларо жвыдлтпр шщавдыо длатр жыщ арывждаывор ываро жывдлоп жщавышп ывоимт жыщшвоп жэыщап длавп щжывао птажпы
            овжзщп ывжтп жвдшаоыпр ывдалп выдап жваышоп вжаыдпло авьж овапит жваыв лпо ыавптж лтим вадлпо ыжвтапжд оподпоы адлпо
            ажвыпо жщшоы алдпо ыдло.
          </p>
        </div>

      </div>

    </div>

    <div class="description">

      <div class="description_block">

      <div class="description_image">
          <img src="logo.png" alt="">
      </div>

      <div class="description_text">
        <h1>Группы</h1>
        <p>
          Описание описание описание описание описание описание описание описание описание описание пива имва лоав итадвдав
          идлавто длавт идлавт идвалодлв длваьир давлои зэрвэр.овржилвро ржпвад ьыжпрщл жпаыь ржпр ыжпдр юпбиь ыэро зыжро щваы
          ароэы пажлы во эрдлы длрь дыавльп дл оыэадвлпр дывлр ывоо рваылр жывлдр овыьит ыдвоарт жаывшрп адывлр жыдвало
          жыдвларо жвыдлтпр шщавдыо длатр жыщ арывждаывор ываро жывдлоп жщавышп ывоимт жыщшвоп жэыщап длавп щжывао птажпы
          овжзщп ывжтп жвдшаоыпр ывдалп выдап жваышоп вжаыдпло авьж овапит жваыв лпо ыавптж лтим вадлпо ыжвтапжд оподпоы адлпо
          ажвыпо жщшоы алдпо ыдло.
        </p>
      </div>

      </div>

    </div>

    <div class="description">

      <div class="description_block">

      <div class="description_image">
          <img src="logo.png" alt="">
      </div>

      <div class="description_text">
        <h1>Тесты</h1>
        <p>
          Описание описание описание описание описание описание описание описание описание описание пива имва лоав итадвдав
          идлавто длавт идлавт идвалодлв длваьир давлои зэрвэр.овржилвро ржпвад ьыжпрщл жпаыь ржпр ыжпдр юпбиь ыэро зыжро щваы
          ароэы пажлы во эрдлы длрь дыавльп дл оыэадвлпр дывлр ывоо рваылр жывлдр овыьит ыдвоарт жаывшрп адывлр жыдвало
          жыдвларо жвыдлтпр шщавдыо длатр жыщ арывждаывор ываро жывдлоп жщавышп ывоимт жыщшвоп жэыщап длавп щжывао птажпы
          овжзщп ывжтп жвдшаоыпр ывдалп выдап жваышоп вжаыдпло авьж овапит жваыв лпо ыавптж лтим вадлпо ыжвтапжд оподпоы адлпо
          ажвыпо жщшоы алдпо ыдло.
        </p>
      </div>

      </div>

    </div>

    <div class="description">

      <div class="description_block">

        <div class="description_image">
          <img src="logo.png" alt="">
        </div>

        <div class="description_text">
          <h1>Ответы</h1>
          <p>
            Описание описание описание описание описание описание описание описание описание описание пива имва лоав итадвдав
            идлавто длавт идлавт идвалодлв длваьир давлои зэрвэр.овржилвро ржпвад ьыжпрщл жпаыь ржпр ыжпдр юпбиь ыэро зыжро щваы
            ароэы пажлы во эрдлы длрь дыавльп дл оыэадвлпр дывлр ывоо рваылр жывлдр овыьит ыдвоарт жаывшрп адывлр жыдвало
            жыдвларо жвыдлтпр шщавдыо длатр жыщ арывждаывор ываро жывдлоп жщавышп ывоимт жыщшвоп жэыщап длавп щжывао птажпы
            овжзщп ывжтп жвдшаоыпр ывдалп выдап жваышоп вжаыдпло авьж овапит жваыв лпо ыавптж лтим вадлпо ыжвтапжд оподпоы адлпо
            ажвыпо жщшоы алдпо ыдло.
          </p>
        </div>

      </div>

    </div>

  </main>
  <footer>
footer
  </footer>
</div>
</body>
</html>
