<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Статистика</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="stylestatistics.css">
  <link rel="stylesheet" href="stylegroups.css">
  <link rel="stylesheet" href="stylefilter.css">
</head>
<body>

{% include "include/header.html" %}

<div class="wrapper">
  <main>
    <div class="statistic">
    <form>
      <div class="tabs">
      <div class="tab">Группа</div>
      <div class="tab">Ученик</div>
      <div class="tab">Тест</div>
      </div>
      <br>
      <div class="tab_content">
        <div class="groups">
          <div class="functional">
            <button class="filter">< Год ></button>
            <div  class="search">

              <form>
                <input type="text" placeholder="Искать здесь...">
                <button type="submit"></button>
              </form>

            </div>

          </div>
          <div class="group active" id="1">
            <input type="text" disabled class="inner_text" value="Группа 1">
            <input type="text" disabled class="inner_text" value="Человеков: 5">
            <input type="text" disabled class="inner_text" value="Контрольный тест" style="visibility: hidden">
            <div class="crud_butts" style="visibility: hidden">
              <button class="crud_but add_but"><img src="img/plusimage.png" alt="" class="crud_but_img"></button>
              <button class="crud_but edit_but"><img src="img/plusimage.png" alt="" class="crud_but_img"></button>
              <button class="crud_but del_but"><img src="img/plusimage.png" alt="" class="crud_but_img"></button>
            </div>

          </div>
          <div class="active_group">
            <div class="active_text">
              <p>Абсолютная успеваемость: 80.0%</p>
              <p>Качественная успеваемость: 80.0%</p>
            </div>
          </div>

          <div class="active_group_choose">
            <div class="group active">
              <input type="text" disabled class="inner_text" value="Тест">
              <input type="text" disabled class="inner_text" value="Устройство системы">
              <input type="text" disabled class="inner_text" value="Информатика">
              <input type="text" disabled class="inner_text" value="02.04.2022">
            </div>
            <div class="active_group">
              <div class="active_text">
                <p>Модуль: Введение в информатику</p>
                <p>Тема: Устройство системы</p>
              </div>
            </div>
            <div class="group">
              <input type="text" disabled class="inner_text" value="Тест">
              <input type="text" disabled class="inner_text" value="Алгоритмы">
              <input type="text" disabled class="inner_text" value="Информатика">
              <input type="text" disabled class="inner_text" value="02.04.2022">
            </div>
          </div>

          <div class="group"  id="2">
            <input type="text" disabled class="inner_text" value="Группа 2">
            <input type="text" disabled class="inner_text" value="Человеков: 6">
          </div>


        </div>
      </div>
    </form>
    </div>
  </main>
  <footer>
    footer
  </footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="js/statisticsScript.js"></script>
</html>
