<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    {{ test_info }}<br><br><br>-->
<!--    {{ module }}<br>-->
<!--    {{ test }}<br>-->
<!--    {{ question }}<br>-->
<!--    {{ questionVariantAnswer }}<br><br><br>-->
{{result}}
<!--    {{result.0.4.question.0.1}}<br><br><br>-->
<!--{{result.0.4.question.0.3.wrong}}<br><br><br>-->
<!--    {% for value in result.0.4.question.0.3.wrong %}-->
<!--    {{value}}<br>-->
<!--    {% endfor %}<br><br><br>-->
<!--    {% for r in result %}-->
<!--    {{ r }}<br><br>-->
<!--    {% for cell in r %}-->
<!--    {{cell}}<br>-->
<!--    {% endfor %}-->
<!--    {% endfor %}-->


</body>
</html>