header {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 99;
  background-color: #47ad48;
  box-shadow: 0 0 10px -1px black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 70px;
}
.abutt{
  grid-column: 2 / 8;
  align-self: stretch;
  display: grid;
  text-align: center;
  line-height: 70px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
}
.ava, .logo {
  justify-self: stretch;
  text-align: center;
  padding-top: 7px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 15pt;
}

#logo {
  height: 55px;
}

#logo:hover{
  height: 60px;
}

#ava {
  height: 53px;
  border: 2px solid white;
  border-radius: 50%;
}

#ava:hover {
  height: 58px;
}

.abutt a:hover {
  text-decoration: none;
  background-color: #86e586;
  font-weight: bold;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sign_in{
  display: block;
}

.sign_in:hover, .sign_out:hover{
  font-weight: bold;
}

footer{
  grid-area: footer;
  color: #ebecec;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #434242;
  text-align: center;
}

footer div{
  padding-top: 15px;
}

@media (max-width: 550px) {
  header a {
    font-size: 13pt;
  }
}
